:root{
    --body-background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --main-backgraund-color: #e5e5e5;
    --text-wite-color: #FFFFFF;
    --text-grey-color: #757575;
    --text-black-color: #212121;
    --buton-color: #F5F4FA;
    --hover-text-color: #2196f3;
   } 

   /*общие<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
a{
    text-decoration: none;
   }
li{
    list-style: none;
   }
.head{
    color: var(--text-black-color);
    background-color: var(--body-background-color);
   }
body{
    font-family: Roboto;
   }
   /*/общие>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

   /*шапка<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.logo {
   font-family: Raleway;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--text-black-color);
   font-weight: 700;
}
.logo-web{
    color: var(--hover-text-color);
}

.web-link a{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color : var(--text-black-color);
text-decoration: none;
}

.web-link a:hover,
.web-link a:focus {
 color: var(--hover-text-color);
}

.Mail-tel a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-grey-color);
}
.Mail-tel a:hover,
.Mail-tel a:focus {
 color: var(--hover-text-color);
}
    /*/шапка>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

    /*Герой<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.h1 {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--text-wite-color);
}

.header-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
  font-family: inherit;
  background: var(--hover-text-color);
  color: var(--text-wite-color);
}

.main-section {
background: var(--footer-background-color);
}
    /*/Герой>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

    /*service<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.h3 {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:  var(--text-black-color);
}

.service {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-grey-color);
}
    /*/service>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

    /* we do<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.we-do {
font-size: 36px;
line-height: 1.67px;
text-align: center;
letter-spacing: 0.03em;
color:  var(--text-black-color);
}
    /*/ we do>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

    /*team<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.title-team {
font-size: 36px;
line-height: 1.67;
text-align: center;
letter-spacing: 0.03em;
color:  var(--text-black-color);
}

.cards-of-team {
text-align: center;
}

.igor {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color:  var(--text-black-color);
}

.oliga {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
color:  var(--text-black-color);
}


.nikolai {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
color:  var(--text-black-color);
}

.mihail {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
color:  var(--text-black-color);
}

.his-job {
font-weight: 400;
color: var(--text-grey-color);
}

    /*/team>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

    /*address<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
footer {
    background: var(--footer-background-color);
}

.logo-f {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-wite-color);
    font-weight: 700;
 }

 .logo-web-f {
     color: var(--hover-text-color);
 }


.address {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: var(--text-wite-color);
}

.contacts a{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

    /*/address>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
 
    /*address<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.work-cards {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:  var(--text-black-color);
}

.do {
font-weight: 400;
letter-spacing: 0.03em;
color: var(--text-grey-color);
}

.button:hover,
.button:focus {
  background-color: var(--hover-text-color);
  color: var(--text-wite-color);
    /*/address>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/